@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes long-float {
	0% {
		transform: translatey(0px);
	}
	25% {
		transform: translatey(10px);
	}
	50% {
		transform: translatey(0px);
	}
	75% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}

#banner {
    animation: float 6s ease-in-out infinite;
}

#social1 {
	animation: long-float 15s ease-in-out infinite;
}

#social2 {
	animation: long-float 15s ease-in-out -3s infinite;
}

#social3 {
	animation: long-float 15s ease-in-out -6s infinite;
}

#social4 {
	animation: long-float 15s ease-in-out -9s infinite;
}

#social5 {
	animation: long-float 15s ease-in-out -12s infinite;
}